PART I

In [10]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

    The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
    Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

    If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
    Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
    In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [11]:
#Assign url
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' 

#Retreive table from Wikipedia with read_html() method; this will be a list
wtable = pd.read_html(url, index_col=0,skiprows=1, attrs={"class":"wikitable"})  

#Table is contained in the first list element, then assigned to a variable for formatting
raw_table = wtable[0]

#Remove unassigned boroughs and rename columns 
test_table = raw_table[~raw_table[1].str.contains("Not assigned")].reset_index()
test_table.columns = ['PostalCode','Borough','Neighborhood']

#Iterate through rows and compare borough and neighbourhood values
for i in range(0,(test_table.shape[0])):
    if (test_table.iloc[i,:][1] != 'Not assigned') & (test_table.iloc[i,:][2] == 'Not assigned'):
        test_table.iloc[i, test_table.columns.get_loc('Neighborhood')] = test_table.iloc[i, test_table.columns.get_loc('Borough')]

#Group dataframe by postal code and borough to combine neighborhood values for one borough
df_toronto = test_table.groupby(['PostalCode', 'Borough'], as_index=False, sort=False).agg(', '.join)

df_toronto.head(12)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront, Regent Park"
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge, Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens, Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson, Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."

In [12]:
df_toronto.shape

(103, 3)

In [13]:
#Print formatted dataframe shape
print('Dataframe shape = {} rows, {} columns'.format(df_toronto.shape[0],df_toronto.shape[1]))

Dataframe shape = 103 rows, 3 columns

PART II

In [15]:
#load coordinate data into separate dataframe
!wget -q -O 'Geospatial_Coordinates.csv' http://cocl.us/Geospatial_data
csv_coords = 'Geospatial_Coordinates.csv'
df_coords = pd.read_csv(csv_coords)
df_coords.columns = ['PostalCode','Latitude','Longitude']
df_coords.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [16]:
df_toronto = df_toronto.merge(df_coords, on='PostalCode', how='outer')
df_toronto.head(8)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188